
 body {
 font-family: Roboto;
 
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-style: normal;
}
.section-first{
    background-color: #2E2F42;
   
    }
    .title{
        color: #FFF;
        text-align: center;
        font-size: 56px;
        
        font-weight: 700;
    }
.button {
    background-color: #4D5AE5;
    text-align: center;
    color:#FFF
    curso
}
.section-second{
    background-color:#F4F4FD ;

}
.title-terms{
    color: #2E2F42;
    font-size: 20px;
    
    font-weight: 500;
}
.text-terms{
    color: #434455;
    font-size: 16px;
    
    font-weight: 400;
}
.section-third{
    background-color: #F4F4FD;
}
.title-team{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;

}
.name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}
.position{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
}
.header{
    background-color: #E7E9FC;
    }

.link-information{
    color: #434455;
    font-size: 16px;
    
    font-weight: 400;
    }
.logo{
    font-size: 18px;
font-family: Raleway;
font-weight: 700;
}
.link{
        color: #2E2F42;
        font-size: 16px;
        
        font-weight: 500;
    }

.footer{
 background-color: #2E2F42;
 color: #FFF;
}
.text-footer{
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
}